@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.grids1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 3; }

@media (max-width: 1023px) {
  .navbar-container input:checked~header nav {
      height: 100vh;
      background: #31250E;
  }

  .navbar-container input:checked~header label>div:nth-child(1) {
      transform: rotate(45deg);
      top: 50%;
  }

  .navbar-container input:checked~header label>div:nth-child(3) {
      transform: rotate(-45deg);
      top: 50%;
  }

  .navbar-container input:checked~header label>div:nth-child(2) {
      transform: scale(0);
      opacity: 0;
  }
}